#homepage {
  background-image: url(img/homepage-background1.jpg);
  background-size: 100% auto;
}

#large-logo {
  margin-left: 30%;
  margin-right: auto;
}

header {
  position: relative;
  top: 0px;
  left: 0px;
  /*background-color: #A9C9A4;*/
}

header li {
  display: inline;
}

/*#left, #middle, #right {
  float: left;
}*/

footer {
  /*background-color: #A9C9A4;*/
  bottom: 0px;
  width: 100%;
}

body {
  font-family: "abel";
  background-color: lightgrey;
  color: white;
  margin-right: auto;
  margin-left: auto;
}

h1, h3{
  font-family: "michroma";
  padding: 0 0 0 0;
  text-align: center;
}

p{
  width: 400px;
  margin-left: 36%;
  text-align: center;
}
