

header {
  position: relative;
  top: 0px;
  left: 0px;
  background-color: lightgray;
}

header li{
  display: inline;
}


footer {
  background-color: lightgray;
  position: fixed;
  bottom: 0px;
  width: 100%;
}
